*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#f4f8fc;
  color:#333;
  line-height:1.6;
}

header{
  background:#0d6efd;
  color:white;
  text-align:center;
  padding:25px;
}

header h1{
  font-size:36px;
}

header p{
  margin-top:8px;
}

nav{
  background:#084298;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  padding:15px;
}

nav a{
  color:white;
  text-decoration:none;
  margin:10px 15px;
  font-weight:bold;
}

nav a:hover{
  color:#ffd43b;
}

.hero{
    background:linear-gradient(rgba(13,110,253,0.8),rgba(13,110,253,0.8)),
    url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f");
    background-size:cover;
    background-position:center;
    color:white;
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:50px;
    margin-bottom:15px;
}

.hero p{
    font-size:22px;
    margin-bottom:25px;
}

.hero h1{
  font-size:42px;
}

.hero p{
  margin:20px 0;
  font-size:20px;
}

.btn{
  display:inline-block;
  background:white;
  color:#0d6efd;
  padding:12px 25px;
  text-decoration:none;
  border-radius:8px;
  font-weight:bold;
}

.subjects{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:20px;
  padding:50px 20px;
}
.notice{
padding:50px 20px;
background:#f8f9fa;
text-align:center;
}

.notice h2{
color:#0d6efd;
margin-bottom:25px;
}

.notice-box{
background:white;
max-width:700px;
margin:15px auto;
padding:15px;
border-left:6px solid #0d6efd;
border-radius:8px;
box-shadow:0 3px 8px rgba(0,0,0,.1);
}
.subject{
  background:white;
  width:280px;
  padding:20px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,.1);
  text-align:center;
}

.subject h2{
  color:#0d6efd;
  margin-bottom:10px;
}

.why{
  background:white;
  padding:50px 20px;
  text-align:center;
}

.why h2{
  color:#0d6efd;
  margin-bottom:20px;
}

.why ul{
  list-style:none;
}

.why li{
  margin:10px 0;
}

footer{
  background:#212529;
  color:white;
  text-align:center;
  padding:25px;
    }
.stats{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:20px;
  background:#ffffff;
  padding:40px 20px;
}

.stat{
  width:220px;
  background:#0d6efd;
  color:white;
  text-align:center;
  padding:25px;
  border-radius:12px;
}

.stat h2{
  font-size:40px;
  margin-bottom:10px;
}
.subject:hover,
.stat:hover,
.notice-box:hover{
    transform:translateY(-5px);
    transition:0.3s;
  }
.search-box{
    text-align:center;
    margin:30px 0;
}

.search-box input{
    width:60%;
    max-width:400px;
    padding:12px;
    border:2px solid #0d6efd;
    border-radius:8px;
}

.search-box button{
    padding:12px 20px;
    margin-left:10px;
    background:#0d6efd;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.search-box button:hover{
    background:#084298;
  }
